html { font-size: 14px; }
body { font-size: 1rem; }

/* both **********************************************************************/

body
{ width: 400px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  background-color: white; }

label.checkbox { display: inline-block; }
label.select { margin-bottom: 0.75rem; }

button
{ float: right;
  margin-left: 0.75rem; }

.multi-icon,
.single-icon,
.options-icon
{ width: 32px;
  height: 32px;
  position: absolute; }

.multi-icon.active,
.single-icon.active,
.options-icon.active
{ border: 1px solid #999;
  background-color: #fff;
  border-bottom: none; }

.multi-icon.dormant,
.single-icon.dormant,
{ cursor: pointer;
  border-bottom: 1px solid #999; }

.multi-icon { border-radius: 2px; right: 0px;  }
.single-icon { border-radius: 2px; right: 32px; }
.options-icon { border-radius: 2px; right: 64px; }

div.status
{ width: 436px;
  height: 32px;
  display: table-cell;
  font-size: 1rem;
  vertical-align: middle;
  padding: 0 0.5rem 0 0.5rem;
  overflow: hidden;
  border-bottom: 1px solid #999; }

.dormant.multi,
.dormant.single,
.dormant.options { display: none; }

.message
{ margin-bottom: 0.5rem; }

/* single ********************************************************************/

#single .urgh
{ margin: 0.75rem 0.75rem 0rem 0.75rem; }

/* multi *********************************************************************/

#multi .upper
{ padding: 0.75rem 0.75rem 0 0.75rem;
  border-bottom: 1px solid #999; }

#multi #tags { background-color: #fff; }

#multi ul.tabs
{ margin: 0;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
  background-color: #f6f6f6; }

#multi ul.tabs li
{ margin: 0;
  list-style: none;
  border-bottom: 1px solid #ccc; }

#multi ul.tabs .idle label:hover
{ color: #ffffff;
  border-color: #007bff;
  background-color: #007bff; }

#multi ul.tabs label
{ margin: 0;
  padding: 8px 1rem 10px 1rem; }

#multi ul.tabs input[type="checkbox"]
{ float: left;
  margin: 0.9rem 2px 0 2px; }

#multi ul.tabs img.status
{ float: left;
  width: 32px;
  height: 32px;
  margin: 4px 0 0 -6px; }

#multi ul.tabs .title
{ margin: 0 0 0 10px;
  font-size: 1rem;
  width: 80%;
  border: none;
  padding: 0.2rem 6px 0 5px;
  line-height: 1.3rem;
  white-space: pre;
  overflow: hidden; }

#multi input.title:hover
{ background-color: #62a2e6; }

#multi input.title:focus
{ color: #000;
  outline: none;
  border: none;
  background-color: #fff; }

#multi ul.tabs .url
{ margin-left: 32px;
  margin-right: 50px;
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden; }

#multi ul.tabs img.favicon
{ float: right;
  margin-top: 4px;
  width: 32px;
  height: 32px; }

#options .urgh
{ margin: 0.5rem 0.75rem 0.75rem 0.75rem; }
