html { font-size: 14px; }

body
{ width: 400px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  background-color: white; }

div.main { margin: 0.5rem 1rem 1rem 1rem; }
label.checkbox { display: inline-block; }

button
{ float: right;
  margin: 0 0 0 1rem;
  outline: none;
  display: inline-block; }

button:active
{ color: #fff;
  background-color: #117bf3; }

.status
{ padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem; }
